# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/test.txt
*.jar

# Eclipse
.settings
.classpath
.project

# Project Specific
*.zip
log.txt
game_engine_tester_log.txt
GameEngineTester.jar